@import "tailwindcss";

@theme inline {
  --font-inter: var(--astro-font-inter);
  --font-sora: var(--astro-font-sora);
}

@theme {
  --color-primary-dark: #0a0a0a;
  --color-charcoal: #171717;
  --color-primary: #2563eb;
  --color-light-accent: #dbeafe;
  /* --color-primary: #f97316;
  --color-light-accent: #ffedd5; */
  --color-background: #fafaf9;
  --color-main-text: #1c1917;
  --color-muted-text: #78716c;
  --color-white: #ffffff;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sora);
  }

  footer {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply uppercase font-semibold;
    }
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  .mobile-active {
    @apply text-primary;
  }
  .desktop-active {
    @apply p-2 bg-primary text-white border border-primary hover:bg-light-accent hover:text-black transition-all duration-300;
  }
  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
}
